<mat-card-title>Enter Fuel Data</mat-card-title>
<!-- enter Odometer miles -->
<mat-form-field>
  <input
    matInput
    type="number"
    pattern="[0-9]*"
    placeholder="Miles"
    [(ngModel)]="gasData.odometerMiles"
  >
</mat-form-field>
<mat-form-field>
  <input
    matInput
    type="number"
    pattern="[0-9]*"
    placeholder="Volume"
    [(ngModel)]="gasData.gasFilled"
  >
</mat-form-field>
<mat-form-field>
  <input
    matInput
    type="number"
    pattern="[0-9]*"
    placeholder="Total"
    [(ngModel)]="gasData.pricePaid"
  >
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  (click)="onSubmit()"
>Submit</button>
<!-- <pre>
  {{ gasData | json }}
</pre> -->

<a [disabled]="!(this.sheetsService.sheetId$ | async)" mat-raised-button href="https://docs.google.com/spreadsheets/d/{{this.sheetsService.sheetId$ | async}}/edit">Data Sheet</a>
