<!-- enter Odometer miles -->
<mat-form-field>
  <input
    matInput
    type="tel"
    placeholder="Odometer Miles"
    [(ngModel)]="odometerMiles"
  >
</mat-form-field>
<!-- enter gas filled -->
<mat-form-field>
  <input
    matInput
    type="tel"
    placeholder="Gas Filled"
    [(ngModel)]="gasFilled"
  >
</mat-form-field>
<!-- enter price paid -->
<mat-form-field>
  <input
    matInput
    type="tel"
    placeholder="Price Paid"
    [(ngModel)]="pricePaid"
  >
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  (click)="onSubmit()"
>Submit</button>
<!-- <pre>
  {{ gasData | json }}
</pre> -->

<button mat-raised-button (click)="onAuthGoogle()">Init OAuth to Google</button>
<a href="https://docs.google.com/spreadsheets/d/1HpD_49Y2d2vRfMRmXk8JrNX2LtUfNCIArdZO9fKXHLI/edit#gid=0">Data Sheet</a>

<router-outlet></router-outlet>
